<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" th:href="@{/css/header.css}" />
        <link rel="stylesheet" th:href="@{/css/login_form.css}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    </head>
    <body>
        <div id="loginbox"
             class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title robo-regular-font" th:text="#{login.title}"></div>
                </div>

                <div class="panel-body">

                    <form th:action="@{/login.html}" method="post" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>
                                    <p th:if="${loginError}" class="alert alert-danger robo-regular-font" th:text="#{login.wrongLogin}"></p>
                                </div>

                            </div>

                            <div th:if="${logout}"
                                 class="alert alert-success">
                                You have been logged out.
                            </div>

                        </div>
                        <div style="margin-bottom: 25px;margin-right: 10px;" class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-user"></i>
                            </span>
                            <input style="padding-left: 10px;" type="text" id="username" name="username" autofocus="autofocus" th:attr="placeholder=#{login.username}" class="form-control robo-regular-font" />
                        </div>

                        <div style="margin-bottom: 25px; margin-right: 10px;" class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <input style="padding-left: 10px;" type="password" id="password" name="password" th:attr="placeholder=#{login.pass}" class="form-control robo-regular-font" />
                        </div>

                        <div style="margin-top: 10px; margin-bottom: 25px;" class="form-group">
                            <div class="col-sm-6 controls">
                                <button type="submit" class="login-button robo-regular-font" th:text="#{login.login}"></button>
                            </div>
                        </div>



                    </form>


                </div>
            </div>

        </div>

        <!--<p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>-->
    </body>
</html>
