<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"-->
    <!--th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->

    <title>
        Projects
    </title>

</head>
<body>
<div th:replace="~{user/header :: header}">Header</div>
<div class="container">
        <div id="content" class="lead">
            <form action="#" th:action="@{/project}" th:object="${project}" method="post">
            </form>
            <div class="project-flex-container">
                <div>Name</div>
                <input type="text" th:field="*{rows[__${rowStat.index}__].seedsPerCell}" th:errorclass="fieldError" />
                <div th:text="${project.name}"></div>
            </div>
        </div>

        <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->
</div>

</body>
</html>