<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"-->
    <!--th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->

    <title>
        Projects
    </title>

</head>
<body>
<div th:replace="~{user/header :: header}">Header</div>
<div class="container">
        <div id="content" class="lead">
            <!--@{'/projects/edit/' + ${project.id}}-->
            <form action="#" th:action="@{/saveme}" th:object="${project}" method="post">
                <input style="display:none" type="text" th:field="*{id}"/>
                <div class="project-flex-container">
                    <div class="start-column-flex-item">Имя</div>
                    <input type="text" th:field="*{name}" th:errorclass="fieldError" />
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name33Error</div>

                    <!--<div th:text="${project.name}"></div>-->
                </div>
                <div class="project-flex-container">
                    <div class="start-column-flex-item">Описание проекта</div>
                    <textarea style="resize: none;" name="projectDescription" rows="5" cols="40" th:field="*{projectDescription}">.</textarea>
                </div>



                <div class="submit">
                    <button type="submit" name="save" th:text="Save">Сохранить</button>
                </div>
            </form>

        </div>

        <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->
</div>

</body>
</html>