<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"-->
    <!--th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->

    <title>
        Projects
    </title>

</head>
<body>
<div th:replace="~{user/header :: header}">Header</div>
<div class="container">
    <div class="text-left" th:if="${not #lists.isEmpty(projects)}">

        <h1>Projects</h1>

        <div id="content" class="lead">
            <div>
                <div>Name</div>
                <div th:text="${project.name}"></div>
            </div>
        </div>

        <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->
    </div>
</div>

</body>
</html>