body {
    font-family: sans;
    font-size: 1em;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}

.loginbox {

left:0;
right:0;
top:50px;
position:absolute;
margin:auto
}

.project-flex-container {
display: flex;
flex-direction: row;
margin-bottom:10px;
}

.project-flex-container .flex-item {
}

.start-column-flex-item {
width:250px;

}

.inline {
     display:inline;
}