body {
    font-family: sans;
    font-size: 1em;
    background-color: #F6F7FF;
    margin:0;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}

.loginbox {

left:0;
right:0;
top:50px;
position:absolute;
margin:auto
}

.header {
    background-color: white;
    border-bottom: 1px solid #D6D6D6;
}
.main-content {
    display: flex;
    justify-content:center;
    flex-direction:row;
    margin-top:75px;

}
.header-content {
    margin:5px;
    background-color: white;
    display: flex;
    justify-content:center;
    flex-direction:row;
}

.header .center-panel {
    width:60%;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
}
.left-logo {
    display: flex;
    justify-content:flex-start;
    flex-direction:row;
}
.menu-dropdown {
    width:30px;
    height:30px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../css/header/dropdown_arrow.png);
    cursor: pointer;

}
menu-dropdown:hover {
    background-color:#ffd9b3;
    cursor: pointer;
}
.right-user-info-panel {
    display: flex;
    justify-content:flex-end;
    flex-direction:row;
    align-items:center;
}

.project-flex-container {
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}

.project-flex-container-horizontal {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom:10px;
}

.project-flex-container-horizontal input {
    width:auto;
}
.start-row-flex-item  {
    margin-left:10px;
    font-family: ROBOTO-REGULAR;
    font-size:18px;
}


.project-flex-container .flex-item {
}

.start-column-flex-item {
    font-family: ROBOTO-REGULAR;
    font-size:18px;
}

.save-button {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:50%;
  border-radius: 10px;
  background-color: #FF8F00;
  font-family: ROBOTO-REGULAR;
  font-size:22px;
}

.save-button:hover {
  background-color:#CE7300;
}

.inline {
     display:inline;
}




.rcorners4:hover {
	background-color:gray;
}

a .rcorners4  {
color:black;
text-decoration:none;
}

a:hover {
color:black;
text-decoration:none;
}
a:link {
color:black;
text-decoration:none;
}
a:visited {
color:black;
text-decoration:none;
}
a:active {
color:black;
text-decoration:none;
}


// Dropdown styles
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.show {display: block;}

.menu-dropdown {
    width:30px;
    height:30px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../css/header/dropdown_arrow.png);
    cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 75px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.main-edit-content {
    display: flex;
    justify-content:center;
    flex-direction:row;
    margin-top:75px;

}

.user-dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 14px;
    font-family: ROBOTO-BLACK;
}

.menu-container {
    width:20%;
    height:100%;
    padding-bottom:50px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
}
.edit-content {
    width:80%;
    margin-left:25px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    display:flex;
    justify-content:center;
    flex-direction:row;
    padding-bottom: 50px;

}

.left-side-menu {
    list-style-type: none;
}

.menu-container {
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
}
.menu-item {
    display: flex;
    justify-content:flex-start;
    flex-direction:row;
    align-items: center;
    padding-left:20px;
    font-family: ROBOTO-REGULAR;
    font-size:16px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    cursor: pointer;
}

.menu-item:hover {
    background-color:#F1F4FF;
}

.menu-item-text {
    margin-left:10px;
}
.menu-item-selected {
    border-left: 1px solid #FF9000;
    background-color:#F1F4FF;
}
.menu-item-text-selected {
    color:#FDB246;
}

.edit-form {

    margin-top:20px;
    margin-bottom:20px;
}

.generated-link {
  padding: 12px 0px;
  margin: 8px 0;
  color:#FFAB37;
  font-family: ROBOTO-CONDENSED-REGULAR;
  font-size: 18px;
}

.stripped tr:nth-child(even)
{
    background-color: #f2f2f2;
}
.table {
    width:100%
}
.table-headers {
    font-size:18px;
    font-family: ROBOTO-BOLD;
}
.table-content {
    font-family: ROBOTO-REGULAR;
    font-size:16px;
}
