<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/header.js}"></script>
    <link rel="stylesheet" th:href="@{/css/project_edit.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />

</head>
<body>
<div th:replace="~{user/header :: header}">Header</div>

<div class="main-edit-content">
    <div style="width:20%"></div>
    <div style="width:60%">
        <div th:switch="${activeTab}">
            <p th:case="'main_info'">
                <script>

            $( document ).ready(function() {
            $( "#main_info" ).addClass('active');
            $( $( "#left_side_menu" ).children() ).each(function( index ) {
            if (this.id != 'main_info') {
            $(this).removeClass('active');
            }
            });
            <!--console.log( "ready!" );-->
            });

                </script>
            </p>
            <p th:case="d">User is a manager</p>
            <p th:case="*">User is some other thing</p>
        </div>
        <div style="display:flex; flex-direction:row">
            <div th:replace="~{parts/menu :: menu}">Header</div>

            <div class="edit-content" id="content">
                <!--@{'/projects/edit/' + ${project.id}}-->

                <form action="#" th:action="@{/saveme}" th:object="${project}" method="post">
                    <input style="display:none" type="text" th:field="*{id}"/>
                    <div class="project-flex-container">
                        <div class="start-column-flex-item">Имя</div>
                        <input class="form-control margin-bottom-20"  type="text" th:field="*{name}" th:errorclass="fieldError" />
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">NameError</div>
                    </div>
                    <div class="project-flex-container">
                        <div class="start-column-flex-item">Описание проекта</div>
                        <textarea style="resize: none;" class="form-control margin-bottom-20" name="projectDescription" rows="5" cols="40" th:field="*{projectDescription}">.</textarea>
                    </div>
                    <div class="project-flex-container">
                        <div class="start-column-flex-item">Стоимость</div>
                        <input class="form-control margin-bottom-20"  type="number" min="1" step="1" th:field="*{price}" th:errorclass="fieldError" />
                    </div>
                    <div class="project-flex-container">
                        <div class = "start-column-flex-item" th:for="${#ids.next('autoPaymentAvailable')}" th:text="#{project.autoPaymentAvailable}">autopayment</div>
                        <input type="checkbox" th:field="*{autoPaymentAvailable}" />
                    </div>
                    <!--<div class="project-flex-container">-->
                    <!---->
                    <!--<div class="start-column-flex-item">Возможен автоплатеж</div>-->
                    <!--<input type="checkbox" class="form-control margin-bottom-20" name="active" th:checked="*{autoPaymentAvailable}"/>-->
                    <!--</div>-->

                    <div class="project-flex-container">
                        <div class="start-column-flex-item">Дата начала</div>
                        <div>
                            <!--<label for="birthdate" th:text="*{projectStartDate}">Birth date</label>-->
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="date" name="date" id="birthdate" class="form-control margin-bottom-20" th:value="${#dates.format(project.projectStartDate,'yyyy/MM/dd')}" th:field="*{projectStartDate}"/>
                            </label>
                            <!--<h3 th:text="${#dates.format(project.projectStartDate,'yyyy/MM/dd')}"></h3>-->
                        </div>
                    </div>
                    <div class="project-flex-container">
                        <div class="start-column-flex-item">Ссылка на оплату</div>
                        <div th:text="@{${baseUrl} + ${'/pay/' + project.name}}">link</div>
                    </div>

                    <div class="submit project-flex-container">
                        <button class="start-column-flex-item" type="submit" name="save" th:text="Сохранить">Сохранить</button>
                        <div th:if="${saved} == true" class="alert alert-success col-xs-offset-1 col-xs-10">Проект сохранен</div>
                    </div>

                </form>

            </div>

            <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->
        </div>
    </div>
    <div style="width:20%"></div>
</div>


</body>
</html>