<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
$( document ).ready(function() {
$( "#statistic" ).addClass('active');
$( $( "#left_side_menu" ).children() ).each(function( index ) {
    if (this.id != 'statistic') {
    $(this).removeClass('active');
    }
});
});

    </script>
</head>
<body>
<div th:replace="~{user/header :: header}">Header</div>
<div style="display:flex; flex-direction:row">
    <div th:replace="~{parts/menu :: menu}">Parts</div>
    <div style="display:flex; flex-direction:column">
        <ul class="nav nav-tabs">
            <li class="active"><a th:text="#{projectedit.menu.firstTab}" th:href="'#'">1</a></li>
            <li><a th:text="#{projectedit.menu.secondTab}" th:href="@{/project/statistic/linked}">2</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
        <div id="content" class="lead">
            <div class="containter">
                <div class="card">
                    <div class="card-block">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Сумма платежей</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="vk_user  :${vk_users}">
                                <td th:href="@{/project/statistic/paid}">
                                    <a th:text="${vk_user.vkUserId}"  th:href="@{'https://vk.com/id' + ${vk_user.vkUserId}}">1</a>
                                </td>
                                <td th:text="${vk_user.firstName}"></td>
                                <td th:text="${vk_user.lastName}"></td>
                                <td th:text="${vk_user.paymentsSum}"></td>
                                <!--<td th:text="${vk_user.}"></td>-->

                            </tr>
                            </tbody>
                        </table>

                        <ul th:if="${totalPages} > 1" class="nav nav-pills">
                            <li class="nav-item" th:each="i : ${#numbers.sequence(0,totalPages-1)}">
                                <a th:href="@{${'project/statistic/paid/page' +i}}" th:text="${i}" class="nav-link"></a>
                            </li>

                        </ul>

                    </div>

                    <div class="dropdown">
                        <div onclick="myFunction()" class="dropbtn">Dropdown</div>
                        <div id="myDropdown" class="dropdown-content">
                            <div id="txt_download">test_me</div>
                            <a href="#home">Home</a>
                            <a href="#about">About</a>
                            <a href="#contact">Contact</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script th:inline="javascript">

	var token3 = $("meta[name='_csrf']").attr("content");
var header3 = $("meta[name='_csrf_header']").attr("content");

/*var token2 = $("meta[name='_csrf']").attr("content");
var header2 = $("meta[name='_csrf_header']").attr("content");
var token = "[$({_csrf.parameterName})]"
var header = $("meta[name='_csrf_header']").attr("content");*/
$(document).ajaxSend(function(e,xhr,options) {
   xhr.setRequestHeader(header3, token3);
});

/*$.ajaxSetup({
    beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-TOKEN', token);
    }
});*/
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

	function sendReportRequest() {

		$.ajax({
        type: "POST",
        url: "/[(${base})]/report",
        data: "name=" + "test" + "&education=" + "test2",
        success: function(response){

            $('#info').html(response);
            $('#name').val('');
            $('#education').val('');
        },

        error: function(e){
            alert('Error: ' + e);
            }
        });
	}


    $( "#txt_download" ).click(function( event ) {
		sendReportRequest();
        /*var request = new XMLHttpRequest();
        request.open('POST', '/report', true);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        request.responseType = 'blob';

        request.onload = function() {
      // Only handle status code 200
          if(request.status === 200) {
            // Try to find out the filename from the content disposition `filename` value
            var disposition = request.getResponseHeader('content-disposition');
            var matches = /"([^"]*)"/.exec(disposition);
            var filename = (matches != null && matches[1] ? matches[1] : 'file.pdf');

            // The actual download
            var blob = new Blob([request.response], { type: 'application/pdf' });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = filename;

            document.body.appendChild(link);

            link.click();

            document.body.removeChild(link);
          }

          // some error handling should be done here...
        };*/



    });

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
        }
    }
</script>


    <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->
</div>

</body>
</html>