<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/reports.js}"></script>
    <link rel="stylesheet" th:href="@{/css/project_edit.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
<div th:replace="~{user/header :: header}"></div>
<div class="main-edit-content">
    <div style="width:20%"></div>
    <div style="width:60%">
        <script>
            $( document ).ready(function() {
                setMenuActivated('statistic-menu-item');
            });
        </script>
        <div style="display:flex; flex-direction:row">
            <div th:replace="~{parts/menu :: menu}"></div>
            <div class="edit-content" id="content">
                <div style="width:5%"></div>
                <div style="width:90%; display:flex; flex-direction:column;">
                    <div class="containter" >
                        <div class="vertical-flex" >
                            <div class="horizontal-flex robo-regular-font margin-bottom-10">
                                <div>Человек оплатило:</div>
                                <div style="margin-left:10px" th:text="${paidUsersCount}"></div>
                            </div>
                            <div class="horizontal-flex robo-regular-font margin-bottom-10">
                                <div>Частично оплатило:</div>
                                <div style="margin-left:10px" th:text="${particallyPaidUserCount}"></div>
                            </div>
                            <div class="horizontal-flex robo-regular-font margin-bottom-10">
                                <div>Получено денег:</div>
                                <div style="margin-left:10px" th:text="${projectMoney}"></div>
                            </div>

                            <main>
                                <label class="selected-label" for="tab1">Оплатили</label>

                                <label for="tab2" th:onclick="'window.location.href=' + '\'' + @{${'/project/statistic/linked'}} + '\''">Перешли по ссылке</label>
                            </main>
                            <table class="table">
                                <thead>
                                <tr class="table-headers">
                                    <th style="width:25%">ID</th>
                                    <th style="width:25%">Имя</th>
                                    <th style="width:25%">Фамилия</th>
                                    <th style="width:25%">Сумма платежей</th>
                                </tr>
                                </thead>
                                <tbody class="table-content stripped">
                                <tr th:each="vk_user:${vk_users}">
                                    <td class="vk-user-link" th:text="${vk_user.vkUserId}" th:onclick="'window.location.href=' + '\'' + @{'https://vk.com/id' + ${vk_user.vkUserId}} + '\''"></td>
                                    <td th:text="${vk_user.firstName}"></td>
                                    <td th:text="${vk_user.lastName}"></td>
                                    <td th:text="${vk_user.sumOfPayments}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <div style="margin-top:10px" th:if="${totalPages} > 1" class="horizontal-flex robo-regular-font">
                                <div class="horizontal-flex cursor-pointer active-text-hover" th:if="${prev_page != null}"
                                    th:onclick="'window.location.href=' + '\'' + @{${'/project/statistic/paid/page/' + prev_page}} + '\''">
                                    <div th:text="${prev_page_text}"></div>
                                    <div style="margin-left:5px;">←</div>
                                </div>
                                <div style="
                                    border: 1px solid gray;
                                    border-radius: 5px;
                                    margin-left:5px;
                                     margin-right:5px;
                                     padding-left:10px;
                                     padding-right:10px;"
                                     th:if="${current_page != null}" th:text="${current_page_text}" >
                                </div>
                                <div class="horizontal-flex cursor-pointer active-text-hover" th:if="${next_page != null}"
                                    th:onclick="'window.location.href=' + '\'' + @{${'/project/statistic/paid/page/' + next_page}} + '\''">
                                    <div>→</div>
                                    <div style="margin-left:5px;" th:text="${next_page_text}"></div>
                                </div>
                            </div>

                            <div th:switch="${#lists.size(vk_users)}">
                                <div th:case="'0'">
                                </div>
                                <div th:case="*">
                                    <div class="dropdown">
                                        <div onclick="reportsDropdown()" class="orange-button report-button horizontal-flex">
                                            <i class="report-button-icon fas fa-file-download"></i>
                                            <div class="report-button-text">Экспорт</div>
                                        </div>
                                        <div  id="reports-dropdown" class="report-button-content dropdown-content ">
                                            <div onclick="location.href='paid/report/txt';">txt</div>
                                            <div onclick="location.href='paid/report/xlsx';">xls</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div style="width:5%"></div>


            </div>
        </div>
    </div>
    <div style="width:20%"></div>


</div>


    <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->

</body>
</html>