<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/header.js}"></script>
    <link rel="stylesheet" th:href="@{/css/project_edit.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<div th:replace="~{user/header :: header}"></div>
<div class="main-edit-content">
    <div style="width:20%"></div>
    <div style="width:60%">
        <script>
            $( document ).ready(function() {
                setMenuActivated('statistic-menu-item');
            });
        </script>
        <div style="display:flex; flex-direction:row">
            <div th:replace="~{parts/menu :: menu}"></div>
            <div class="edit-content" id="content">
                <div style="width:5%"></div>
                <div style="width:90%; display:flex; flex-direction:column;">
                    <!--<div class="tabset">-->
                        <!--<input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>-->
                        <!--<label for="tab1">Märzen</label>-->
                        <!--&lt;!&ndash; Tab 2 &ndash;&gt;-->
                        <!--<input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">-->
                        <!--<label for="tab2">Rauchbier</label>-->
                        <!--&lt;!&ndash; Tab 3 &ndash;&gt;-->
                        <!--<input type="radio" name="tabset" id="tab3" aria-controls="dunkles">-->
                        <!--<label for="tab3">Dunkles Bock</label>-->
                    <!--</div>-->
                    <!--<ul class="nav nav-tabs">-->
                        <!--<li class="active"><a th:text="#{projectedit.menu.firstTab}" th:href="'#'">1</a></li>-->
                        <!--<li><a th:text="#{projectedit.menu.secondTab}" th:href="@{/project/statistic/linked}">2</a></li>-->
                        <!--<li><a href="#">Menu 2</a></li>-->
                        <!--<li><a href="#">Menu 3</a></li>-->
                    <!--</ul>-->
                    <div class="containter" th:switch="${#lists.size(teacher.courses)}">
                            <table class="table">
                                <thead>
                                <tr class="table-headers">
                                    <th style="width:20%">ID</th>
                                    <th style="width:40%">Имя</th>
                                    <th style="width:40%">Фамилия</th>
                                </tr>
                                </thead>
                                <tbody class="table-content stripped">
                                <tr th:each="vk_user  :${vk_users}">
                                    <td th:href="@{/project/statistic/paid}">
                                        <a th:text="${vk_user.vkUserId}"  th:href="@{'https://vk.com/id' + ${vk_user.vkUserId}}">1</a>
                                    </td>
                                    <td th:text="${vk_user.firstName}"></td>
                                    <td th:text="${vk_user.lastName}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <ul th:if="${totalPages} > 1" class="nav nav-pills">
                                <li class="nav-item" th:each="i : ${#numbers.sequence(0,totalPages-1)}">
                                    <a th:href="@{${'project/statistic/paid/page' +i}}" th:text="${i}" class="nav-link"></a>
                                </li>

                            </ul>

                            <div class="dropdown">
                                <div onclick="reportsDropdown()" class="orange-button report-button">Экспорт</div>
                                <div id="reports-dropdown" class="dropdown-content">
                                    <div id="txt_download2" onclick="location.href='paid/report/txt';">txt</div>
                                    <div id="txt_download3" onclick="location.href='paid/report/xlsx';">xlsx</div>
                                </div>
                            </div>
                    </div>
                </div>
                <div style="width:5%"></div>


            </div>
        </div>
    </div>
    <div style="width:20%"></div>


</div>

    <script th:inline="javascript">
    function reportsDropdown() {
        document.getElementById("reports-dropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.orange-button')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
        }
    }
</script>


    <!--<div th:insert="~{fragments/footer :: footer}">&copy; 2017 Iuliana Cosmina & Apress</div>-->

</body>
</html>