<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link href="../../public/css/bootstrap.min.css"-->
          <!--th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen"/>-->
    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"-->
            <!--th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
    <title>
    </title>
</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Link Maker</a>
                </div>
                <!--<span th:text ="${#authentication.getPrincipal().getUsername()}"></span>-->


                <!--<ul class="nav navbar-nav">-->
                    <!--<li><a href="#" th:href="@{/singers}">Singers</a></li>-->
                    <!--<li><a href="#" th:href="@{/singers/new}">Add Singer</a></li>-->
                <!--</ul>-->

                <!--<div th:fragment="logout" class="logout"-->
                     <!--sec:authorize="isAuthenticated()">-->
                    <!--Logged user: <span sec:authentication="name">Bob</span> |-->
                    <!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |-->
                    <!--&lt;!&ndash;/* When using CSRF this needs to be a POST */&ndash;&gt;-->
                    <!--<form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>-->
                <!--</div>-->

                <ul class="nav navbar-nav navbar-right" >
                    <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/login" th:href="@{/login}">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;Log in
                        </a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="/logout" th:href="@{/logout}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                    <span style="color:white"th:text="${session.user.firstName}"></span>
                    <span th:text="${session.user.lastName}"></span>
                </ul>

            </div>
        </nav>
    </div>
</div>
</body>
</html>